table{
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    color:#757574;
 
    font-size: 14px;
}
div{
    font-family: montserrat;
}
p{
    float: right;
    display: block;
}
td{
    width: 100px;
}
h3{
    font-weight: 800;
}
h4{
    font-weight: 700;
}